/* Thanh navbar tổng thể */
.navbar {
  display: flex;
  justify-content: space-between;   /* chia đều 2 bên */
  align-items: center;              /* căn giữa theo chiều dọc */
  background-color: #1e1d1d;
  padding: 8px 20px;
  color: white;
}

/* Logo */
.navbar-logo img {
  height: 28px;
  object-fit: contain;
  margin-right: 40px;
}

/* Menu trái */
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 90px;               /* khoảng cách đều giữa các mục */
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  cursor: pointer;
  transition: color 0.2s ease;
}

.navbar-menu li:hover {
  color: orange;
}

/* Thanh tìm kiếm ở giữa */
.navbar-search {
  flex: 1;                             /* để search bar giãn ra */
  display: flex;
  justify-content: center;
}

.navbar-search input {
  width: 80%;                          /* chiều dài */
  max-width: 800px;                    /* bạn có thể tăng lên 800 nếu muốn dài hơn */
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  background-color: #333;
  color: white;
}

.navbar-search input::placeholder {
  color: #aaa;
}

/* Icon bên phải */
.navbar-icons {
  display: flex;
  align-items: center;
  gap: 50px;                         /* khoảng cách giữa các icon */

}

.icon {
  cursor: pointer;
  font-size: 18px;
  transition: color 0.2s ease;
}

.icon:hover {
  color: orange;
}
